@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Ensures padding and borders do not add to element width */
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    /* Prevents any content from overflowing horizontally */
    background-color: var(--bg);
    color: var(--textColor);
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}